/JPANoSQLConcourseApp/target/
/ThermalComfortFront-master/nbproject/private/
/Front-with-auth0/01-Login/nbproject/private/
/Front-with-auth0/02-User-Profile/nbproject/private/
/Front-with-auth0/03-Calling-an-API/nbproject/private/
/Front-with-auth0/04-Authorization/nbproject/private/
/Front-with-auth0/05-Token-Renewal/nbproject/private/